DATABASE_URL='postgresql://neondb_owner:********@ep-lively-art-ag5gm5gf-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
SECRET_KEY=very-secret-key
FRONTEND_URL=https://paronasport.netlify.app/
DEBUG=True
TOKEN_EXPIRE_MINUTES=30